body{background-color:bisque;

}
.sinfo{
    display: flex;
    justify-content: center;
}
form{
    background: #bd515f;
    background: linear-gradient(90deg,rgba(189, 81, 95, 1) 0%, rgba(202, 165, 170, 1) 58%, rgba(247, 247, 247, 1) 100%);
    width: 620px;
    height: 1230px;
    margin: 20px;
    border:2px;
    border-radius: 20px;
    border-style:solid;
    border-color: whitesmoke;
}
h1{
    text-align: center;
}
div{
    margin: 20px;
    font-size: large;
}
input{
    padding:7px;
}
select{
    padding: 7px;
}
.btn{
    background-color:rgb(173, 35, 35);
    width: 100px;
    height: 37px;
    display:inline-block;
    font-family: 'Times New Roman';
    font-size: large;
    color:whitesmoke;
    border: none;
    margin-right: 20px;

}
legend{
    text-align: center;
    color:black;
}
fieldset{
    border-radius: 20px;
    border-color:black;
}
label{
    display:inline-block;
    width:150px;
}
p{
    display: inline;
}
.gen{
    display: inline-block;
    padding-left: 65px;
}
